@media(min-width:$widthS){
    .footer{
        @include flex-column;
        align-self: center;
        justify-content: center;

        .container-divider{
            @include flex-column;
            .footer-main{
                @include flex-column;
                justify-content: space-between;
                align-self: center;
                .left-menu-contacts{
                    margin-bottom: $margin-s;
                }
                .left-menu-contacts:last-child{
                    margin-bottom: 0;
                }
                .logo-container{
                    align-self: center;
                }
            }
        }
        .footer-add{
            @include flex-column;
            align-self: center;
            .simple-text{
                margin-top: $margin-l;
                margin-bottom: $margin-l;
            }
        }
        .container-divider::before, .container-divider::after{
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background-color: $color-light;
        }
        .container-divider::before{
            margin-bottom: $margin-xxl; 
        }
        .container-divider::after{
            margin-top: $margin-xxl;
        }

    }
}
@media(min-width:$widthL){
    .footer{
        max-width: 1296px;
        .container-divider{
            .footer-main{
                @include flex-row;
                min-width: 900px;

                .left-menu-contacts{
                    align-items: flex-start;
                }
            }
        }
    }
}