$color-light: #fff;
$add-color:#CDAA7D;
$color-dark: #111;

$widthS:320px;
$widthM:768px;
$widthL:1024px;

$insta-width-height:24px;
$burger-width-height-mini:35px;
$burger-width-height:50px;
$scroll-down-width:20px;
$scroll-down-height:30px;
$title-width:80px;
$title-height:64px;

$cards-img-width:396px;
$cards-img-height:300px;

$close-height-width:28px;

$text-size-xxs:18px;
$text-size-xs:24px;
$text-size-s:27px;
$text-size-m:30px;
$text-size-l: 48px;
$text-size-xxl:72px;

$margin-xxs:10px;
$margin-xs:15px;
$margin-s:20px;
$margin-m:25px;
$margin-l:30px;
$margin-lx:40px;
$margin-xl:60px;
$margin-xxl:80px;
$margin-xxxl:100px;
$margin-xxxxl:120px;
$margin-xxxxxl:150px;
$margin-xxxxxxl:190px;

